<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<h2>Sign Up Form</h2>

<form action="/action_page.php" method="post">
  

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <label for="psw"><b>Confirm Password</b></label>
    <input type="password" placeholder="confirm Password" name="con" required>

    <label for="psw"><b>Enter Email id</b></label>
    <input type="email" placeholder="enter email id" name="email" required>
        
    <button type="submit">Sign up</button>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a> | <a href="Login.html">Login</a></span>
  </div>
</form>

</body>
</html>
